{% load static %}
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4 border-bottom">
    <ul class="nav col-md-1 mb-2 col-md-auto justify-content-center mb-md-0">
      <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Home</a></li>
    </ul>

    <a href="{% url 'index' %}" class="d-flex align-items-center text-center col-md-9 mb-md-0 text-decoration-none">
      <img class="m-auto" alt="NitroRSS" src="{% static 'img/nitrorss-logo.png' %}" width="128">
    </a>

    <div class="col-md-2 d-flex align-items-center justify-content-end">
    {% if user.is_authenticated %}
      <a href="{% url 'subscriptions:list-subscriptions' %}" class="btn btn-secondary" style="margin-right: 1rem;">Dashboard</a>
      <div class="dropdown" x-data="{ open: false }" x-on:click.outside="open = false">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle show" x-on:click="open = !open">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </a>
        <ul x-show="open" class="dropdown-menu dropdown-menu-position-fix text-small show">
          <li><a class="dropdown-item" href="{% url 'users:account' %}">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'users:logout' %}">Sign out</a></li>
        </ul>
      </div>
    {% else %}
      <a href="{% url 'users:login' %}" class="btn btn-outline-primary me-2">Login</a>
      <a href="{% url 'users:register' %}" class="btn btn-primary">Sign up</a>
    {% endif %}
    </div>
  </header>
</div>
