{% load static %}

<div class="navbar bg-base-100">
    <div class="flex-1">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/nitrorss-logo.png' %}" alt="NitroRSS" width="128">
        </a>
    </div>
    {% if user.is_authenticated %}
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li>
                    <a href="{% url 'subscriptions:list-subscriptions' %}">Subscriptions</a>
                </li>
            </ul>
        </div>
        <div class="ml-4 dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-6 rounded-full">
                    <svg class="w-6 h-6"
                         fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z">
                        </path>
                    </svg>
                </div>
            </label>
            <ul tabindex="0"
                class="shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                <li class="menu-title">
                    <span>{{ user.full_name }}</span>
                </li>
                <li>
                    <a href="{% url 'users:account' %}">Settings</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">Sign out</a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li>
                    <a href="{% url 'users:login' %}">Sign in</a>
                </li>
                <li>
                    <a href="{% url 'users:register' %}" class="btn">Sign up</a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
