{% load compress static %}

<!DOCTYPE html>
<html data-theme="nitro" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="https://fonts.bunny.net/css?family=Roboto:400,900"
              rel="stylesheet"/>
        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        {% endcompress %}
        {% block extra_styles %}{% endblock %}
        <script src="{% static 'js/htmx-1.7.0.min.js' %}" defer></script>
        <script src="{% static 'js/alpinejs-3.10.2.min.js' %}" defer></script>
    </head>
    <body>
        <div class="max-w-7xl mx-auto">

            {% include 'partials/header.html' %}

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <main class="container my-4 mx-auto">
                {% block content %}{% endblock %}
            </main>

            {% include 'partials/footer.html' %}

        </div>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
