{% extends 'base.html' %}

{% load static nitro_tags %}

{% block title %}NitroRSS{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/index_form.css' %}">
{% endblock %}
{% block content %}
    <div>
        <div class="hero bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold">Real-time RSS and Atom feeds, delivered to your email</h1>
                    <p class="py-6">
                        NitroRSS delivers news and updates from your favorite websites to your inbox, in real-time or in various digest sizes.
                    </p>
                </div>
                <div class="card flex-shrink-0 w-full mx-auto max-w-sm bg-base-200">
                    <form id="index-add-form" hx-post="/" hx-target="body" class="card-body">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Email</span>
                            </label>
                            {{ form.target_email|addclass:"input input-bordered" }}
                            {{ form.target_email.errors }}
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">URL</span>
                            </label>
                            {{ form.url|addclass:"input input-bordered" }}
                            {{ form.url.errors }}
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Schedule</span>
                            </label>
                            {{ form.schedule|addclass:"input input-bordered" }}
                            {{ form.schedule.errors }}
                        </div>
                        <div class="form-control mt-6">
                            <button type="submit" class="btn btn-primary">Find feeds</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if feeds %}
            <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
                {% for feed in feeds %}
                    <div class="p-2 sm:w-1/2 w-full">
                        <form hx-post="/"
                              hx-target="body"
                              hx-include="#subscription-add-form"
                              class="card bg-base-200 hover:bg-base-300 rounded flex h-full">
                            <button type="submit" class="flex items-center p-4 h-full w-full">
                                <input type="hidden" name="url" value="{{ feed.url }}">
                                <svg class="w-6 h-6 flex-shrink-0 mr-4"
                                     fill="none"
                                     stroke="currentColor"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z">
                                    </path>
                                </svg>
                                <span>{{ feed.title }}</span>
                                <span class="pl-4 text-xs text-gray-500">{{ feed.url }}
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="overflow-hidden">
            <div class="container px-5 py-24 mx-auto text-white">
                <div class="flex flex-col text-center w-full mb-20">
                    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-primary">Pricing</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white">
                        We offer a great ad-free experience in the Free plan with extra features in the upcoming Pro plan!
                    </p>
                </div>
                <div class="flex flex-wrap -m-4 justify-center">
                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                        <div class="h-full p-6 rounded-lg border-2 border-primary flex flex-col relative overflow-hidden">
                            <h2 class="text-sm tracking-widest title-font mb-1 font-medium">FREE</h2>
                            <h1 class="text-5xl text-primary pb-4 mb-4 border-b border-gray-200 leading-none">Free</h1>
                            <p class="flex items-center mb-2">
                                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-secondary text-white rounded-full flex-shrink-0">
                                    <svg fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         stroke-width="2.5"
                                         class="w-3 h-3"
                                         viewBox="0 0 24 24">
                                        <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                </span>
                                HTML and plain text emails
                            </p>
                            <p class="flex items-center mb-2">
                                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-secondary text-white rounded-full flex-shrink-0">
                                    <svg fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         stroke-width="2.5"
                                         class="w-3 h-3"
                                         viewBox="0 0 24 24">
                                        <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                </span>
                                Choice of digest schedules
                            </p>
                            <p class="flex items-center mb-6">
                                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-secondary text-white rounded-full flex-shrink-0">
                                    <svg fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         stroke-width="2.5"
                                         class="w-3 h-3"
                                         viewBox="0 0 24 24">
                                        <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                </span>
                                Ad-free
                            </p>
                            <a href="{% url 'users:register' %}"
                               class="flex items-center mt-auto text-black btn-primary border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded">
                                Join now
                                <svg fill="none"
                                     stroke="currentColor"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     class="w-4 h-4 ml-auto"
                                     viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            <p class="text-xs text-gray-500 mt-3">Does not require credit card details!</p>
                        </div>
                    </div>
                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                        <div class="h-full p-6 rounded-lg border-2 border-gray-500 flex flex-col relative overflow-hidden">
                            <span class="bg-primary text-black px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">COMING SOON</span>
                            <h2 class="text-sm tracking-widest title-font mb-1 font-medium">PRO</h2>
                            <h1 class="text-5xl text-gray-500 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                                <span>$5</span>
                                <span class="text-lg ml-1 font-normal text-gray-500">/mo</span>
                            </h1>
                            <p class="flex items-center text-gray-600 mb-2">
                                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                                    <svg fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         stroke-width="2.5"
                                         class="w-3 h-3"
                                         viewBox="0 0 24 24">
                                        <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                </span>
                                Customizable email templates and subjects
                            </p>
                            <p class="flex items-center text-gray-600 mb-2">
                                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                                    <svg fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         stroke-width="2.5"
                                         class="w-3 h-3"
                                         viewBox="0 0 24 24">
                                        <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                </span>
                                Keyword filtering
                            </p>
                            <p class="flex items-center text-gray-600 mb-2">
                                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                                    <svg fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         stroke-width="2.5"
                                         class="w-3 h-3"
                                         viewBox="0 0 24 24">
                                        <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                </span>
                                Send as PDF and text attachments
                            </p>
                            <p class="flex items-center text-gray-600 mb-6">
                                <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
                                    <svg fill="none"
                                         stroke="currentColor"
                                         stroke-linecap="round"
                                         stroke-linejoin="round"
                                         stroke-width="2.5"
                                         class="w-3 h-3"
                                         viewBox="0 0 24 24">
                                        <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                </span>
                                ... and more!
                            </p>
                            <button class="flex items-center mt-auto text-white bg-gray-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-indigo-600 rounded">
                                Not yet available
                            </button>
                            <p class="text-xs text-gray-500 mt-3">
                                Includes all features from the Free plan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
