{% extends 'base.html' %}
{% load static nitro_tags %}

{% block title %}Add Subscription{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/index_form.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3" x-data="{ open: false }">
        <form id="subscription-add-form" hx-post="/subscriptions/add/" hx-target="body">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group mb-2">
                {{ form.url.errors }}
                {{ form.url.label_tag }}
                {{ form.url|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{ form.schedule.errors }}
                {{ form.schedule.label_tag }}
                {{ form.schedule|addclass:'form-control select-arrow' }}
            </div>
            <button class="btn btn-primary mt-2">Subscribe</button>
        </form>
        {% if feeds %}
        <hr>
        <div class="mt-4">
            <h4>Feeds</h4>
            <ul>
                {% for feed in feeds %}
                <li>
                    Title: {{ feed.title }}, url: {{ feed.url }}, subscribe:
                    <form hx-post="/subscriptions/add/" hx-target="body" hx-include="#subscription-add-form">
                        <input type="hidden" name="url" value="{{ feed.url }}">
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
