{% extends 'base.html' %}
{% load static nitro_tags %}

{% block title %}Manage Subscription{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/index_form.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="{% url 'subscriptions:manage-subscription' object.pk %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group mb-2">
                {{ form.feed_url.errors }}
                {{ form.feed_url.label_tag }}
                {{ form.feed_url|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{ form.feed_title.errors }}
                {{ form.feed_title.label_tag }}
                {{ form.feed_title|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{ form.feed_description.errors }}
                {{ form.feed_description.label_tag }}
                {{ form.feed_description|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{ form.feed_last_update.errors }}
                {{ form.feed_last_update.label_tag }}
                {{ form.feed_last_update|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{ form.subscription_added.errors }}
                {{ form.subscription_added.label_tag }}
                {{ form.subscription_added|addclass:'form-control' }}
            </div>
            <div class="form-group mb-2">
                {{ form.schedule.errors }}
                {{ form.schedule.label_tag }}
                {{ form.schedule|addclass:'form-control select-arrow' }}
            </div>
            <div class="form-check mb-2">
                {{ form.is_active.errors }}
                {{ form.is_active.label_tag }}
                {{ form.is_active|addclass:'form-check-input' }}
            </div>
            <button type="submit" class="btn btn-primary mt-2">Update</button>
        </form>
    </div>
</div>
{% endblock %}
