{% extends 'base.html' %}

{% load static nitro_tags %}

{% block title %}Manage Subscription{% endblock %}
{% block content %}
    <div class="card flex-shrink-0 w-full mx-auto max-w-sm bg-base-200">
        <form action="{% url 'subscriptions:manage-subscription' object.pk %}"
              method="POST"
              class="card-body">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Feed URL</span>
                </label>
                {{ form.feed_url|addclass:"input input-bordered" }}
                {{ form.feed_url.errors }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Feed Title</span>
                </label>
                {{ form.feed_title|addclass:"input input-bordered" }}
                {{ form.feed_title.errors }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Feed Description</span>
                </label>
                {{ form.feed_description|addclass:"input input-bordered" }}
                {{ form.feed_description.errors }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Feed Last Update</span>
                </label>
                {{ form.feed_last_update|addclass:"input input-bordered" }}
                {{ form.feed_last_update.errors }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Subscription Added</span>
                </label>
                {{ form.subscription_added|addclass:"input input-bordered" }}
                {{ form.subscription_added.errors }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Schedule</span>
                </label>
                {{ form.schedule|addclass:"input input-bordered" }}
                {{ form.schedule.errors }}
            </div>
            <div class="form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">Is active</span>
                    {{ form.is_active|addclass:"checkbox checkbox-accent" }}
                    {{ form.is_active.errors }}
                </label>
            </div>
            <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
{% endblock %}
