{% extends "base.html" %}

{% load static nitro_tags %}

{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <div class="card flex-shrink-0 w-full mx-auto max-w-sm bg-base-200">
        <form action="{% url 'users:register' %}" method="post" class="card-body">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email</span>
                </label>
                {{ form.email|addclass:"input input-bordered" }}
                {{ form.email.errors }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                {{ form.password|addclass:"input input-bordered" }}
                {{ form.password.errors }}
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Confirm password</span>
                </label>
                {{ form.confirm_password|addclass:"input input-bordered" }}
                {{ form.confirm_password.errors }}
            </div>
            <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}
