{% extends 'base.html' %}

{% load static nitro_tags %}

{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="card flex-shrink-0 w-full mx-auto max-w-sm bg-base-200">
        <form action="{% url 'users:reset-password' %}"
              method="POST"
              class="card-body">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email</span>
                </label>
                {{ form.email|addclass:"input input-bordered" }}
                {{ form.email.errors }}
            </div>
            <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </div>
        </form>
    </div>
{% endblock %}
