{% extends 'base.html' %}
{% load static nitro_tags %}

{% block title %}Reset Password{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/login_form.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="{% url 'users:reset-password' %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group mb-2">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email|addclass:'form-control' }}
            </div>
            <button type="submit" class="btn btn-primary mt-2">Send reset link</button>
        </form>
    </div>
</div>
{% endblock %}
