{% extends 'email/base.html' %}

{% block title %}New entries in your subscriptions{% endblock %}
{% block content %}
<tr>
    <td class="bg_white email-section">
        <div class="heading-section" style="text-align: center; padding: 0 30px;">
            <h2>New entries in your subscriptions</h2>
        </div>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
            {% for entry in entries %}
            <tr>
                <td style="padding-bottom: 30px;">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <td valign="middle" width="40%">
                        <h6 style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">{{ entry.feed.title }}</h6>
                    </td>
                    <td valign="middle" width="60%">
                        <div class="text-blog" style="text-align: left; padding-left:25px;">
                            <p class="meta"><span>{{ entry.date_published }}</span></p>
                            <h2>{{ entry.title }}</h2>
                            <p><a href="{{ entry.link }}" class="btn btn-primary">Read more</a></p>
                        </div>
                    </td>
                </table>
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
</tr>
{% endblock %}
